{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Destroyer</title>
   <link rel="stylesheet" href="{% static 'css/micss.css'%}">
   <link rel="shortcut icon" href="{%static 'SpaceX.ico'%}">
 </head>
 <div align=center>
 <body>
   ---------------  Falcon 9  ---------------</p>
   <img src="/static/falcon9.png"  width="400px" height="280px" HSPACE=5 VSPACE=3>
   <img src="/static/falcon9_2.jpg"  width="400px" height="280px" HSPACE=5 VSPACE=3>

    <p>
    ------------------- Falcon9----------------------<br>
     Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit.<br>
     Falcon 9 is the first orbital class rocket capable of reflight. <br>
     Falcon 9 was designed from the ground up for maximum reliability. <br>
     Falcon 9’s simple two-stage configuration minimizes the number of separation events -- and with nine first-stage engines, it can safely complete its mission even in the event of an engine shutdown. <br>

     </p>

 </body>
 </div>
</html>
