
{% load staticfiles %}



<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario 1</title>
    <link rel="shortcut icon" href="{%static 'SpaceX.ico'%}">
    <link rel="stylesheet" href="{%static 'css/micss.css'%}">
  </head>
  <div align=center>
  <body>
    <h1>Formulario de Pedido</h1>
    <!--A esta vista sólo podemos acceder atraváes del atributo actio -->
    <form  action="/mi_tienda/recepcion1/" method="post">
      <!-- evitar ataques CRSF ,no nos inyecten datos no deseado en el servidor
       genera un token y sólo permite recibir datos de aquellos clients que tengan ese token-->
      {% csrf_token %}
      <label>Nombre de la persona que hace el pedido: <label>
      <input type="text" name="nombre" />
      <label>Producto <label>
      <input type="text" name="producto" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
