{% load staticfiles %}

<!DOCTYPE html>
  <html lang="es" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Pedidos realizado</title>
      <link rel="shortcut icon" href="{%static 'SpaceX.ico'%}">
      <link rel="stylesheet" href="{%static 'css/micss.css'%}">

    </head>
    <div align=center>
    <body>
      <h1>GRACIAS POR TU PEDIDO HA SIDO REALIZADO</h1>
      <ul>

          <li> Nombre -->{{ pedidopersona.nombre  }}: Producto ---> {{pedidopersona.producto}}</a></li>

      </ul>
    </body>
  </html>
