{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>StarLink</title>
   <link rel="stylesheet" href="{% static 'css/micss.css'%}">
   <link rel="shortcut icon" href="{%static 'SpaceX.ico'%}">
 </head>
 <div align=center>
 <body>
   ---------------  StarLink  ---------------</p>
   <img src="/static/satelites-starlink.jpeg"  width="400px" height="280px" HSPACE=5 VSPACE=3>
   <img src="/static/spacex.jpg"  width="400px" height="280px" HSPACE=5 VSPACE=3>

    <p>
    ------------------- HIGH SPEED INTERNET ACCESS ACROSS THE GLOBE ----------------------<br>
     With performance that far surpasses that of traditional satellite internet, and a global network unbounded by ground infrastructure limitations,<br>
     Starlink will deliver high speed broadband internet to locations where access has been unreliable, expensive, or completely unavailable. <br>

     </p>

 </body>
 </div>
</html>
