body {
  background-color: black;
  font-size: 300;
}

p {
  color: white;
  font: Arial;
  font-variant: normal;
  font-size: 300;
  margin: auto;
   display:block;
}

.logo{
		    margin: auto;
		    display:block;
    }
